@import '../../styles/shared.scss';

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $color-primary-dark;
}

.nav {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 18px;

    @include for-size(mobile) {
        max-width: 375px;
        padding-left: 18px;
    }
}

.btnMenu {
    display: none;
    @extend %button;

    @include for-size(mobile) {
        display: block;
        width: 34px;
        height: 23px;
        margin-top: 18px;
        margin-right: 83px;
    }
}

.navLogo {
    margin-right: 30px;
    padding-top: 23px;
    padding-bottom: 23px;

    @include for-size(mobile) {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.backdrop {
    width: 100%;

    @include for-size(mobile) {
        height: 100vh;
        position: absolute;
        top: 54px;
        left: 0px;
        background-color: $color-modal-darkened;
        opacity: 0;

        pointer-events: none;
        transition: opacity 300ms;

        &.isOpen {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $color-primary-dark;

    @include for-size(mobile) {
        flex-direction: column;
        width: 189px;
        padding-top: 21px;
        padding-left: 18px;
        padding-right: 26px;
        padding-bottom: 24px;

        transform: translateX(-189px);
        transition: all 300ms;

        .backdrop.isOpen & {
            transform: translateX(0);
        }
    }
}

.navList {
    @extend %list;

    display: flex;

    @include for-size(mobile) {
        width: 100%;
        flex-direction: column;
    }
}

.navItem {
    margin-right: 47px;
    color: $color-primary-light;

    &:first-child {
        margin-right: 39px;
    }

    &:nth-child(1):hover {
        color: $color-accent-blue;
    }

    &:nth-child(2):hover {
        color: $color-accent-green;
    }

    &:nth-child(3):hover {
        color: $color-accent-orange;
    }

    &:nth-child(4):hover {
        color: $color-accent-yellow;
    }

    &:nth-child(5):hover {
        color: $color-accent-red;
    }

    @include for-size(mobile) {
        margin-bottom: 24px;
        margin-right: 0;

        &:first-child {
            margin-right: 0;
        }

        &:last-child {
            margin-bottom: 39px;
        }
    }
}

.navLink {
    display: inline-block;
    padding-top: 23px;
    padding-bottom: 23px;

    font-size: 16px;
    font-weight: 600;
    line-height: 1.125;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include for-size(mobile) {
        
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;

        font-size: 14px;
        line-height: 1.258;
    }
}

.btnContact {
    @extend %button;
    width: 145px;
    height: 38px;
    padding: 10px;

    background-color: $color-accent-purple;
    border-radius: 3px;

    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;

    color: $color-primary-light;

    &:hover {
        background-color: $color-hover-purple;
    }
}