@import 'styles/colors';

.wrapper {
  position: relative;
  font-size: 14px;
  color: $color-primary-dark;
}

.errorIcon {
  position: absolute;
  top:12px;
  right: 18px;
}

.inputLabel {
  display: block;
  padding-top: 2px;
  color: $color-form-red;
}

.customInput {
  display: block;
  min-width: 286px;
  height: 42px;
  padding: 11px 13.5px 12px 13.5px;
  font-weight: 400;
  background-color: $color-primary-light;
  border: 1px solid $color-secondary-mediumGrey;
  border-radius: 3px;

  &::placeholder {
    color: $color-secondary-darkGrey;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-form-blue;

    &::placeholder {
      color: $color-primary-dark;
    }
  }
}
.small {
  height: 42px;
}
.large {
  height: 237px;
  resize: none;
}

.inputError {
  border: 1px solid $color-form-red;
  padding: 11px 45px 12px 13.5px;

  &:focus {
    outline: none;
    border: 1px solid $color-form-red;
  }

  &::placeholder {
    color: $color-primary-dark;
  }
}