@import "../../styles/shared.scss";

.container {
  min-height: 549px;
  margin-top: 24px;
  margin-bottom: 137px;
  padding-bottom: 36px;
  background: #ffffff;
}

.loadingContainer {
  min-height: 549px;
  margin-top: 24px;
  margin-bottom: 137px;
  padding-bottom: 36px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 100%;
  margin-left: 36px;
  color: $color-primary-dark;
}

.title {
  font-size: 36px;
  line-height: 56px;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 15px 0 24px 36px;
}

.addAdminTitle {
  font-size: 36px;
  line-height: 56px;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 42px 0 36px 36px;
}

.email {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 18px;
}

.emailTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.button {
  width: 92px;
  height: 42px;
  position: relative;
  float: right;
  bottom: 42px;
  margin-left: 1000px;
}

.icon {
  display: inline-block;
  margin-right: 12px;
}

.btnIcon {
  display: inline-block;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
