@import "styles/colors";
.wrapper {
  display: flex;
  position: relative;
  background: $color-primary-light;
}
.imageContainer {
  flex: 1 1 46%;
  position: relative;
}
.imageWrapper {
  width: 100%;
  .bgImage {
    width: 100%;
    position: relative;
  }
}
.contentWrapper {
  min-width: 160px;
  background: $color-primary-light;
  flex: 1 1 54%;
  box-sizing: border-box;
  padding: 30px 8px 18px 14px;
}
.tagBtn {
  position: absolute;
  left: -12px;
  top: 12px;
}
