.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0 0 auto;
}
.content {
  --header-height: 64px;
  flex: 1 1 100%;
  margin-top: var(--header-height);

  @media screen and (min-width: 1024px){
    --header-height: 64px;
  }

  @media screen and (min-width: 811px) and (max-width: 1023px) {
    --header-height: 54px;
  }

  @media screen and (min-width: 504px) and (max-width: 810px) {
    --header-height: 132px;
  }

  @media screen and (min-width: 426px) and (max-width: 503px) {
    --header-height: 169px;
  }

  @media screen and (max-width: 425px) {
    --header-height: 54px;
  }
}
.footer {
  flex: 0 0 auto;
}