.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0 0 auto;
}
.content {
  flex: 1 1 100%;

  @media screen and (min-width: 1024px){
    margin-top: 64px;
  }

  @media screen and (min-width: 811px) and (max-width: 1023px) {
    margin-top: 54px;
  }

  @media screen and (min-width: 504px) and (max-width: 810px) {
    margin-top: 132px;
  }

  @media screen and (min-width: 426px) and (max-width: 503px) {
    margin-top: 169px;
  }

  @media screen and (max-width: 425px) {
    margin-top: 54px;
  }
}
.footer {
  flex: 0 0 auto;
}