@import "styles/colors";
.text {
  font-size: 16px;
  margin: 2px 0 2px;
  line-height: 25.5px;
  letter-spacing: 0.3px;
  color: $color-primary-dark;
}
.label {
  text-transform: uppercase;
  padding-bottom: 5px;
}
.listText{
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.3px;
  color: $color-secondary-darkGrey;
}

