.editForm {
  height: 78px;
  width: 469px;
  display: flex;
  padding-left: 12px;
  background: #ffffff;
  border: 1px solid rgba(224, 226, 231, 0.2);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.saveBtn {
  height: 42px;
  margin: 18px 0 0 18px;
}

.editInput {
  margin-top: 18px;
  width: 321px;
}
