@import "styles/colors";
.sliderWrapper {
  object-fit: cover;
}
.imageContainer {
  max-width: 100%;
  padding-top: 100%;
  background: $color-secondary-yellowish;
  position: relative;
}
.icon {
  position: absolute;
  top: 40%;
  left: 40%;
}
.emptyImagesWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  div{
    margin-top: 18px;
  }
}
.emptyImageContainer {
  width: 116px;
  height: 120px;
  margin: 0;
  padding: 0;
  background-color: rgba(242, 186, 76, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-accent-yellow;
}
.addImage {
  cursor: pointer;
}
.image {
  width: 100%;
  object-fit: cover;
}

