@import "../../styles/shared.scss";

.btnMarker {
    @extend %button;

    position: relative;
}

.lilac {
    fill: $color-accent-purple;
    
    .btnMarker:hover &{
        fill: $color-hover-purple;
    }
}

.red {    
    fill: $color-accent-red;
    
    .btnMarker:hover & {
        fill: $color-hover-red;
    }
}

.blue {
    fill: $color-accent-blue;
    
    .btnMarker:hover & {
        fill: $color-hover-blue;
    }
}

.yellow {
    fill: $color-accent-yellow;
    
    .btnMarker:hover & {
        fill: $color-hover-yellow;
    }
}

.orange {
    fill: $color-accent-orange;
    
    .btnMarker:hover & {
        fill: $color-hover-orange;
    }
}

.green {
    fill: $color-accent-green;
    
    .btnMarker:hover & {
        fill: $color-hover-green;
    }
}

.black {
    fill: $color-primary-dark;
    
    .btnMarker:hover & {
        fill: $color-primary-light;
    }
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -7px;

    .btnMarker:hover &.blackColor>path {
        fill: $color-primary-dark;
    }
}