@import "../../styles/shared.scss";

.btnMarker {
    @extend %button;
    position: relative;
    display: block;

    & svg {
        display: block;
    }
}

.lilac {
    fill: $color-accent-purple;
}

.red {
    fill: $color-accent-red;
}

.blue {
    fill: $color-accent-blue;
}

.yellow {
    fill: $color-accent-yellow;
}

.orange {
    fill: $color-accent-orange;
}

.green {
    fill: $color-accent-green;
}

.black {
    fill: $color-primary-dark;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -4px;
}
