@import "styles/colors";
.wrapper {
  position: relative;
  font-size: 14px;
  color: $color-primary-dark;
}
.errorIcon {
  position: absolute;
  top:14px;
  right: 18px;
}

.textareaLabel {
  display: block;
  margin-bottom: 7px;
  font-weight: 500;
}

.customTextarea {
  display: block;
  width: 100%;
  min-width: 286px;
  height: 237px;
  resize: none;
  padding: 11px 13.5px 12px 13.5px;
  font-weight: 400;
  background-color: $color-primary-light;
  border: 1px solid $color-secondary-mediumGrey;
  border-radius: 3px;

  &::placeholder {
    color: $color-secondary-darkGrey;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-form-blue;

    &::placeholder {
      color: $color-primary-dark;
    }
  }
}

.textareaError {
  border: 1px solid $color-form-red;
  padding: 11px 45px 12px 13.5px;

  &:focus {
    outline: none;
    border: 1px solid $color-form-red;
  }

  &::placeholder {
    color: $color-primary-dark;
  }
}
