@import "styles/colors";
.sliderBox :global(.slick-slider) {
  :global(.slick-list) {
    margin: 0 -15px;

    :global(.slick-track) {
      :global(.slick-slide) > div {
        padding: 0 15px;
      }
    }
  }
}

.sliderWrapper {
  width: 100%;
  margin: 0;
}
.customArrow {
  margin-right: -60px;
  margin-left: -60px;

  @media screen and (max-width: 767px) {
    margin-right: -45px;
    margin-left: -45px;
  }
  @media screen and (max-width: 450px) {
    margin-right: -20px;
    margin-left: -20px;
  }
}
.customDots {
  background: $color-primary-dark;
  &:focus {
    background: $color-primary-dark;
  }
}
