@import "styles/colors";
.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: $color-modal-darkened;
  @media screen and (max-width: 950px) {
    padding: 12px 17px 32px;
  }
}
.container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 950px) {
    align-items: flex-start;
  }
}
.modal {
  display: flex;
  background: $color-primary-light;
  border-radius: 3px;
  width: 100%;
  max-width: 1080px;
  max-height: 100%;
  position: relative;
  overflow: auto;
  @media screen and (max-width: 950px) {
    max-width: 100%;
    border-radius: 0;
    padding: 18px 12px 0;
  }
}
.modalContent {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
.closeButton {
  border: none;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  background: inherit;
}
.circle {
  @media screen and (max-width: 950px) {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 30px;
    right: 24px;
    padding-top:5px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
  }
}
.square {
  @media screen and (max-width: 950px) {
    top: 17px;
    right: 17px;
    z-index: 2;
  }
}
