@import "styles/colors";
.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-modal-darkened;
  @media screen and (max-width: 950px) {
    padding: 12px 17px 32px;
  }
}
.modal {
  display: flex;
  background: $color-primary-light;
  border-radius: 3px;
  width: 100%;
  max-width: 1080px;
  max-height: 100%;
  position: relative;
  overflow: auto;
  @media screen and (max-width: 950px) {
    max-width: 100%;
    border-radius: 0;
    padding: 18px 12px 0;
  }
}
.modalContent {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
.closeButton {
  border: none;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  background: transparent;
  @media screen and (max-width: 950px) {
    top: 17px;
    right: 17px;
    z-index: 2;
  }
}
.circle {
  @media screen and (max-width: 950px) {
    svg {
      width: 12px;
      height: 12px;
    }
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 24px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
  }
}
.enter {
  background: rgba(0,0,0, 0);
  .modal {
    opacity: 0;
    transform: scale(0.5);
  }
}
.enterActive {
  background: $color-modal-darkened;
  transition: all 200ms;
  .modal {
    opacity: 1;
    transform: translateX(0);
    transition: all 200ms;
  }
}
.exit {
  .modal {
    opacity: 1;
    transition: all 200ms;
  }
}
.exitActive {
  background: rgba(0,0,0, 0);
  .modal {
    opacity: 0;
    transform: scale(0.1);
    transition: all 200ms;
  }
}
