@import "styles/colors";
.modal {
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: $color-modal-darkened;
}
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background: $color-primary-light;
  border-radius: 16px;
  width: 100%;
  max-width: 1080px;
  max-height: 688px;
  height: 100%;
  position: relative;
  @media screen and (min-width: 320px) and (max-width: 950px) {
    max-width: 950px;
    max-height: 1049px;
    border-radius: 0;
  }
}
.btnClose {
  border: none;
  border-radius: 50%;
  background: $color-primary-light;
  //background: $color-primary-light;
  position: absolute;
  top: 19px;
  right: 19px;
  cursor: pointer;
  @media screen and (min-width: 320px) and (max-width: 950px) {
    width: 30px;
    height: 30px;
    font-size: 23px;
    top: 12px;
    right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
  }
}