@import "../../styles/shared.scss";
.mapWrapper {
  height: calc(100vh - 64px);
  flex: 1 1 70%;
  overflow: hidden;
}

.markerWrapper {
  position: relative;
  width: 40px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }
  &.selected {
    transform: scale(1.2);
  }
}
