@import "../../styles/shared.scss";
.mapWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.markerWrapper {
  position: relative;
  transform: translate(-50%);
  width: 40px;
  transition: 0.3s;

  &:hover {
    transform: translate(-50%) scale(1.2);
    z-index: 2;
  }
  &.selected {
    transform: translate(-50%) scale(1.2);
    z-index: 1;
  }
}
