@import "../../styles/shared.scss";

.mapWrapper {
  height: calc(100vh - 64px);
  width: 100%;
}

.markerWrapper {
  width: 40px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }
  &.selected {
    transform: scale(1.2);
  }
}
