@import "styles/colors";
.wrapper {
  display: flex;
  max-height: 100%;
  border-radius: 3px;
  overflow: auto;
}
.imageContainer {
  border-radius: 3px 3px 0 0;
  flex: 1 1 50%;
}
.bgImage {
  max-width: 100%;
}
.contentWrapper {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 24px 24px 0;
}
.tagBtn {
  padding: 8px;
  background: $color-accent-orange;
  border: none;
  border: 3px;
  color: $color-primary-light;
}
.heading {
  font-size: 36px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: $color-primary-dark;
  margin: 0;
  padding-top: 12px;
}
.street {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  padding-bottom: 12px;
}
.infoWrapper {
  padding-top: 38px;
}
.contactBtn {
  margin: 45px 0 0;
}
@media screen and (max-width: 950px) {
  .wrapper {
    height: 100%;
    flex-direction: column;
    padding: 18px 12px 0;
  }
  .bgImage {
    width: 100%;
    height: 100%;
  }
  .contentWrapper {
    padding: 0;
  }
  .tagBtn {
    position: absolute;
    top: 12px;
    left: 6px;
  }
  .street {
    margin-bottom: 12px;
  }
  .infoWrapper {
    padding-top: 30px;
  }
  .contactBtn {
    margin: 30px 0 36px;
  }
}
