@import "styles/colors";
.wrapper {
  display: flex;
  max-height: 100%;
  border-radius: 3px;
  overflow: auto;
}
.imageContainer {
  border-radius: 3px 3px 0 0 ;
  flex: 1 1 50%;
}
.bgImage {
  max-width: 100%;
}
.contentWrapper {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 24px 24px 74px 30px;
}
.tagBtn {
  padding: 8px;
  background: $color-accent-orange;
  border: none;
  border: 3px;
  color: $color-primary-light;
}
.pgHeading {
  font-size: 36px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: $color-primary-dark;
  margin: 0;
  padding-top: 12px;
}
.street {
  margin: 12px 0 0 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
}
.ratings {
  margin: 0;
}
.infoWrapper {
  margin: 0;
  list-style: none;
}
.contactBtn {
  margin-top: 70px;
  margin-bottom: 84px;
}
@media screen and (max-width: 950px) {
  .wrapper {
    height: 1049px;
    flex-direction: column;
  }
  .bgImage {
    width: 360px;
    height: 466px;
  }
  .contentWrapper {
    padding: 0 12px 12px 12px;
  }
  .tagBtn {
    position: absolute;
    top: 12px;
    left: 0;
  }
  .street {
    margin-bottom: 12px;
  }
  .infoWrapper {
    padding-top: 30px;
  }
  .contactBtn {
    margin-top: 30px;
    margin-bottom: 36px;
  }
}