// color palette
$color-primary-dark: #150223;
$color-primary-light: #ffffff;
$color-accent-purple: #9c1a87;
$color-accent-green: #009645;
$color-accent-yellow: #f2ba4c;
$color-accent-blue: #008ccc;
$color-accent-orange: #e87d0d;
$color-accent-red: #d12421;
$color-hover-purple: #7a136a;
$color-hover-green: #007d2c;
$color-hover-yellow: #cd9933;
$color-hover-blue: #0070a3;
$color-hover-orange: #d87105;
$color-hover-red: #9a1a18;
$color-secondary-yellowish: #efebe2;
$color-secondary-darkGrey: #737b7d;
$color-secondary-mediumGrey: #afafaf;
$color-secondary-lightGrey: #d0d0d0;
$color-secondary-lightPurple: #b57fca;
$color-form-blue: #7bb9fa;
$color-form-red: #f34e4e;
