@import "./colors";

:export {
  colorPrimaryDark: $color-primary-dark;
  colorAccentPurple: $color-accent-purple;
  colorAccentBlue: $color-accent-blue;
  colorAccentGreen: $color-accent-green;
  colorAccentOrange: $color-accent-orange;
  colorAccentYellow: $color-accent-yellow;
  colorAccentRed: $color-accent-red;
}
