@import "./shared.scss";

.hide {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;

  //for testing purposes
  @media screen and (min-width: 768px) {
    min-height: 1813px;
  }
}
